.button-template {
    position: relative;
    top: 18px;
    text-align: center;
    font-size: 1.4rem;
}

.button-container {
    
    background-color: #00329e;
    height: 60px;
    width: 150px;
}

#star-brand {
    margin-left: 8rem;
    background-color: gray;

}

#orient-brand {
    margin-left: 8rem;
    background-color: gray;
}
