.App {
  display: flex;
  flex-shrink: 2;
  text-align: center;
  flex-direction: column;
}

.brand-container {
  display: flex;
}

.brand-boxes {
  display: flex;
  position: absolute;
  margin-top: 59.5rem;
}

